*{
    margin: 5px;
    padding:20;
    box-sizing: border-box;
}
body{
    background: url(http://i.imgur.com/HF3Xxg1.jpg);
    padding: 50px;
}

.row{
    margin-bottom: 30px;
}
.Panel {
   
}

#title {
    width: 70%;
    font-size: 20pt;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 20%;
    top: 30%;
    position: fixed;
    z-index: 99;
    color: white;
    text-align: center;
}
#botton{
    width:140px;
    height:50px;
}
h1 {
    text-align: auto;
}
