<html>

<head>
    <meta charset='utf-8'>
    <TITLE>{{title}}</TITLE>
</head>

<body style="background: url(http://i.imgur.com/HF3Xxg1.jpg)">
    <h1 style="color: white; text-align: center;">Hello</h1>
    <h1 style="color: white; text-align: center;">Welcome to Peta's Final Exam!</h1>
        <button id="searchButton" onclick="window.location.href='/fetch'">Gallary</button>
        <button id="searchButton" onclick="window.location.href='/weather'">Weather</button>
    </div>
</body>
</html>  
