<html>

<head>
    <meta charset='utf-8'>
    <TITLE>{{title}}</TITLE>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h1 style="color: white; text-align: center;">我是主頁</h1>
    <h1 style="color: white; text-align: center;"></h1>
    <div class="row">
        <button id="searchButton" class="btn btn--primary" onclick="window.location.href='/menu'">點菜</button>
        <button id="searchButton" onclick="window.location.href='/product'">台球用品</button>
        <button id="searchButton" onclick="window.location.href='/scoreKeeping'">計分板</button>
        <button id="searchButton" onclick="window.location.href='/bill'">消費信息</button>
    </div>
</body>


</html>  
