<html>

<head>
    <meta charset='utf-8'>
    <TITLE>{{title}}</TITLE>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1 style="color: white; text-align: center;">菜單</h1>
    <img src="https://cdn2.ettoday.net/images/3844/d3844512.jpg" alt="food1">
    <img src="2.jpg" alt="food2">
    <img src="https://pic3.zhimg.com/v2-bd4fe8e8cac2a5d3fbdddf7fa2c8a8fc_1200x500.jpg" alt="sticks1">
    <img src="https://d3u2gohddm28e7.cloudfront.net/wp-content/uploads/2019/01/Social-Whiskey-Sour-3-1.jpg" alt="sticks1">
    </div>
</body>

</html>  

</html>  
