<html>

<head>
    <meta charset='utf-8'>
    <TITLE>{{title}}</TITLE>

</head>

<body>
    <h1 style="color: white; text-align: center;">台球用品</h1>
    <img src="https://www.cycues.com.tw/wp-content/uploads/2017/01/PY531-scaled.jpg" alt="sticks1">
    <img src="https://cf.shopee.tw/file/78ddf06e7cad0466e8c29cb846f85b75" alt="sticks2">
    <img src="https://img.biggo.com.tw/sEaOWInwFK95TTPZu5ViPBbxhJsZi_eQdYYQ_23LT2Ko/https://ct.yimg.com/xd/api/res/1.2/NW6LeAcc_HDsJP9EGlHWDw--/YXBwaWQ9eXR3YXVjdGlvbnNlcnZpY2U7aD0zNzE7cT04NTtyb3RhdGU9YXV0bzt3PTQwMA--/https://s.yimg.com/ob/image/0d974d67-7f9c-4595-8df7-062f5299056f.jpg" alt="sticks3">
    <img src="https://www.cycues.com.tw/wp-content/uploads/2018/04/20180427_125929.jpg" alt="sticks4">
    </div>
</body>








<style>
*{
    margin: 5px;
    padding:20;
    box-sizing: border-box;
}
body{
    background: url(http://i.imgur.com/HF3Xxg1.jpg);
}

.row{
    margin-bottom: 30px;
}
.Panel {
   
}
img{
	width: 300px;
	height: 300px;
}

#title {
    width: 70%;
    font-size: 20pt;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 20%;
    top: 30%;
    position: fixed;
    z-index: 99;
    color: white;
    text-align: center;
}
#botton{
    width:140px;
    height:50px;
}
h1 {
    text-align: auto;
}

</style>
</html>  
